
h3 {
    margin: 0;
}

/*  Layout  JE  */

.header {
    width: 100%;
    height: 170px;
    background-color: #474646;
    text-align: center;
    position: fixed;
    z-index: 50;
    top: 0;
    transition: 0.5s;
}

section section {
    width: 100%;
    height: calc(100vh - 125px);
    background-color: white;
    margin-block-end: 0px;
    box-sizing: border-box;
    padding: 10px;
}

    section section:first-of-type {
        margin-top: 170px;
        height: calc(100vh - 170px);
        background-color: white;
    }

footer {
    width: 100%;
    height: 200px;
    background-color: #ccc;
}

/*  Header  JE  */

.headerController {
    width: 100%;
    height: 40px;
    border: none;
}

.header a {
    display: block;
    float: right;
    line-height: 20px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    box-sizing: border-box;
    padding: 5px;
}

    .header a:first-of-type {
        margin-right: 15%;
    }

    .header a:hover {
        text-decoration: underline;
    }

.header h1 {
    font-size: 2em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    position: relative;
    color: white;
    text-shadow: 1px 2px black;
    transition: 0.5s;
}

.h1Mover {
    font-size: 1.8em !important;
}

.headShrinker {
    height: 130px;
}

.NavigationBar {
    width: 70%;
    float: left;
    position: absolute;
    bottom: 20px;
    margin-left: 15%;
}

    .NavigationBar a {
        width: 25%;
        float: left;
        margin: 0px !important;
    }

    .NavigationBar > .active {
        /*
   * border-bottom: 1px solid white;
   */
        box-shadow: 0 2px 2px -2px white;
    }

/*  Start JE  */


/*  Translation JE  */

#translation{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

    #translation form {
        width: 40%;
        height: 50%;
        display: block;
        margin: auto;
        position: relative;
    }

            #translation form input {
                width: 85%;
                height: 20px;
                float: none;
                margin: 5px;
            }

#translation #editText {
    width: 85%;
    height: 80px;
    float: none;
    margin: 5px;
    word-break: break-word;
}

#translation div {
    width: 70%;
    height: 40px;
    float: left;
    margin-bottom: 30px;
}

/*  Upload JE  */

/*  About JE  */

/*  Log & Reg Form  JE  */

.cover {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    top: 0;
}

    .cover form {
        width: 40%;
        height: 50%;
        background-color: rgba(255, 249, 249, 1);
        display: block;
        margin: auto;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        overflow-y: scroll;
        box-shadow: 0px 2px 5px 0px black;
    }

        .cover form h3 {
            width: 100%;
            float: left;
            font-size: 2.4em;
            text-align: center;
            margin-bottom: 30px;
        }

        .cover form div {
            width: 70%;
            height: 40px;
            margin-left: 15%;
            float: left;
            margin-bottom: 15px;
            box-shadow: 0 2px 2px -2px grey;
        }

            .cover form div:focus-within {
                box-shadow: 0 3px 2px -2px black;
            }

            .cover form div img {
                height: 30px;
                float: left;
                margin: 5px 0px 0px 10px;
            }

            .cover form div input {
                width: 85%;
                height: 40px;
                float: right;
                border: none;
                background-color: transparent;
            }

                .cover form div input:focus {
                    outline: none;
                }

        .cover form button {
            width: 30%;
            height: 40px;
            float: right;
            margin-right: 35%;
            background-color: transparent;
            border: none;
            box-shadow: 0 2px 2px -2px grey;
            text-align: center;
        }

        .cover form a {
            height: 20px;
            width: 20px;
            position: static;
            float: right;
            margin: 5px 5px 0px 0px;
            color: black;
            text-align: center;
            text-decoration: none;
            line-height: 19px;
        }

            .cover form a:hover {
                background-color: rgba(0,0,0,0.7);
                border-radius: 25px;
                color: white;
            }

        .cover form footer {
            width: 100%;
            height: 50px;
            background-color: gray;
            position: relative;
            bottom: 0;
            clear: both;
        }

            .cover form footer a {
                width: 100%;
                float: left;
                text-align: center;
                line-height: 40px;
            }

                .cover form footer a:hover {
                    background-color: transparent !important;
                }

.RegisterForm {
    height: 70% !important;
}

    .RegisterForm div input {
        width: 100% !important;
    }

    .RegisterForm div:first-of-type input {
        width: 50% !important;
    }

.eyeIcon {
    position: absolute;
    right: 15%;
    cursor: pointer;
}

.errorMsg {
    color: red;
    position: absolute;
    right: 18%;
}

.inputDesignFirstname {
    position: absolute;
}

.inputDesignLastname {
    position: absolute;
}

.inputDesignEmail {
    position: absolute;
}

.inputDesignPassword {
    position: absolute;
}

.inputDesignConfirmPassword {
    position: absolute;
}
