
@font-face {
    font-family: volvoFont;
    src: url(/Fonts/Volvo Novum-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: volvoFont;
}

body {
    background-image: url("./Image/Screenshot_Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/*  Ny tillagd kod (sortera)  JE  */

.loginIMG {
    width: 2.5%;
    float: right;
    margin: 0.8% 3% 0px 0px;
    cursor: pointer;
    padding-bottom: 0.5%;
}

.loginIMG:hover {
    border-bottom: 2px solid black;
}

.body-component {
    background-color: white !important;
    background-image: none;
}

.manageAccount {
    width: 15% !important;
    float: right;
    text-align: right;
    margin: 1% 2% 0px 0px;
    cursor: pointer;
    border-right: 1px solid black;
    padding: 0.5% 2% 0.5% 0.5%;
}

.manageAccount a {
    text-decoration: none;
    color: black;
}

.manageAccount:hover {
    text-decoration: underline;
}

.socialAuthentication {
    width: 25%;
    cursor: pointer;
    margin: 0px 0% 2% 0%;
    float: left;
}

.socialAuthentication:nth-last-of-type(even) {
    margin: 0px 2% 0% 24%;
}

.pageSwitch {
    width: 20%;
    float: left;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.pageSwitch:first-of-type {
    margin-left: 30%;
    border-right: 1px solid black;
}

.pageSwitchActive {
    color: gray;
}

.pageSwitch:hover {
    text-decoration: underline;
}

.orSocial {
    width: 50%;
    text-align: center;
    float: left;
    margin: 20px 0px 20px 25%;
}

.userRegistrationForm .orSocial {
    margin-top: -20px;
}

/*  Layout  JE  */

.header {
    width: 100%;
    height: 170px;
    background-color: #474646;
    text-align: center;
    position: fixed;
    z-index: 50;
    top: 0;
    transition: 0.5s;
}

section section {
    width: 100%;
    height: calc(100vh - 125px);
    background-color: white;
    margin-block-end: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

    section section:first-of-type {
        margin-top: 170px;
        height: calc(100vh - 170px);
        background-color: white;
    }

.Start h3 {
    position: absolute;
    z-index: 10;
  }


footer {
    width: 100%;
    height: 200px;
    background-color: #ccc;
}

/*  Header  JE  */

.headerController {
    width: 100%;
    height: 40px;
    border: none;
}

.header a {
    display: block;
    float: right;
    line-height: 20px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    box-sizing: border-box;
    padding: 5px;
}

    .header a:first-of-type {
        margin-right: 15%;
    }

    .header a:hover {
        text-decoration: underline;
    }

.header h1 {
    font-size: 2em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    position: relative;
    color: white;
    text-shadow: 1px 2px black;
    transition: 0.5s;
}

.h1Mover {
    font-size: 1.8em !important;
}

.headShrinker {
    height: 130px;
}

.NavigationBar {
    width: 70%;
    float: left;
    position: absolute;
    bottom: 20px;
    margin-left: 15%;
}

    .NavigationBar a {
        width: 25%;
        float: left;
        margin: 0px !important;
        cursor: pointer;
    }

    .NavigationBar > .active {
        box-shadow: 0 2px 2px -2px white;
    }

/*  Dropdown in Navbar  */

.dropdown {
    width: 20%;
    position: relative;
    display: block;
    float: right;
    margin-right: 15%;
    cursor: pointer;
    line-height: 20px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    box-sizing: border-box;
    padding: 5px;
    text-align: right;
}

.dropdown p img {
    width: 12px;
    transform: rotate(-90deg);
    margin-left: 10px;
    transition: 0.3s;
}

.menyIcon {
    display: none;
}

.closeSideMeny {
    display: none !important;
}

.dropdown:hover img {
    transform: rotate(0deg);
}

  .dropdown-content {
    height: auto;
    width: auto;
    display: none;
    position: absolute;
    width: 70%;
    right: 0;
    background-color: rgba(105,103,100, 0.8);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    z-index: 40;
    margin-block-start: 5px;
  }

  .dropdown-content p {
      height: 45px;
      line-height: 45px;
      margin: 0px;
      box-sizing: border-box;
      font-size: 0.9em;
      text-align: center;
  }

.dropdown-content p:hover {
    text-decoration: underline;
    background-color: rgba( 0, 0, 0, 0.4);
}

.dropdown-content p:last-of-type {
    border-bottom: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p a {
    width: 100%;
    height: 45px;
    float: none;
    margin: 0;
    padding: 0;
    line-height: 45px;
}

/*  Scrollbar   JE  */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
}

/*  Start JE  */

.imgSlider {
    width: 400%;
    height:  calc(100vh - 170px);
    position: relative;
    transition: 1.5s;
    /*
    animation-name: slider;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    */
  }

.imgSlide {
    width: 25%;
    height: 100%;
}

.slideContainer section {
    position: absolute;
    height: 10px !important;
    width: 30%;
    background-color: transparent !important;
    margin: 0 !important;
    z-index: 10;
    bottom: 20px;
    right: 35%;
}

.slideContainer section div {
    height: 10px;
    width: 20%;
    background-color: lightgrey;
    float: left;
    margin-right: 5%;
    cursor: pointer;
    transition: 1.5s;
}

.slideContainer section div:hover {
    background-color: grey !important;
}

  @keyframes slider {
    0%   {
      right: 0%;
    }
    20%  {
      right: 0%;
    }
    25%  {
      right: 100%;
    }
    45%  {
      right: 100%;
    }
    50%  {
      right: 200%;
    }
    70% {
      right: 200%;
    }
    75% {
      right: 300%;
    }
    95% {
      right: 300%;
    }
    100% {
      right: 0%;
    }
  }


/*  Translation JE  */

#translationmodule{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: left;
}
    #translationmodule input {
        width: 85%;
        height: 20px;
        float: none;
        margin: 5px;
    }
    #translationmodule label {margin: 10px;}
    #translationmodule div {margin: 0 10% 0 10%;}
    #translationmodule div div {margin: 3%;}

#createtext {
    width: 30%;
    height: 70%;
    display: block;
    position: relative;
    float:right;
    box-shadow: 0px 2px 5px 0px grey;
}
    #createtext .result button{
        margin: 0 20% 0 20%;
        padding:2px;
    }

#translatetext {
    width: 30%;
    height: 70%;
    display: block;
    position: relative;
    float:left;
    box-shadow: 0px 2px 5px 0px grey;
}
    .translationsfound div{

        padding: 2%;
    }
        .translationsfound div button{
            width: 100%;
            display:block;
            margin:1%;
            padding: 2px;
        }
        .translationsfound button{
            margin: 0 20% 0 20%;
            padding:2px;
        }

textarea{
    width: 100%;
    height: 100px;
    float: none;
    margin: 5px;
    word-break: break-word;
}

.savebutton {
    float:right;
}

.selectLanguage{
    font-size: 12px;
    display:block;
  }
    .selectLanguage select{
        width:100%;
    }
    
/*  Upload JE  */

/*  About JE  */

/*  Log & Reg Form  JE  */

.cover {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    top: 0;
}

    .cover form {
        height: auto !important;
        width: 40%;
        max-height: 80% !important;
        min-height: 50% !important;
        overflow-y: auto;
        background-color: white;
        display: block;
        margin: auto;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        box-shadow: 0px 2px 5px 0px black;
    }

    .cover form article {
        height: 90%;
    }

        .cover form h3 {
            width: 100%;
            float: left;
            font-size: 2.4em;
            text-align: center;
            margin-bottom: 30px;
        }

        .cover form div {
            width: 70%;
            height: 40px;
            margin-left: 15%;
            float: left;
            margin-bottom: 15px;
            box-shadow: 0 2px 2px -2px grey;
            overflow: hidden;
        }

        .userRegistrationForm div:nth-last-of-type(6) {
            width: 35% !important;
        }

        div:nth-last-of-type(5) {
            width: 35% !important;
            margin-left: 0% !important;
        }


            .cover form div:focus-within {
                box-shadow: 0 3px 2px -2px black;
            }

            .cover form div img {
                height: 30px;
                float: left;
                margin: 5px 0px 0px 10px;
            }

            .cover form div input {
                width: 100%;
                height: 40px;
                float: right;
                border: none;
                background-color: transparent;
            }

                .cover form div input:focus {
                    outline: none;
                }

        .cover form button {
            width: 30%;
            height: 45px;
            background-color: transparent;
            border: none;
            box-shadow: 0 2px 2px -2px grey;
            text-align: center;
            display: block;
            float: left;
            margin: 10px 50% 15px 15%;
        }

        .userRegistrationForm button {
            margin: 10px 0% 15px 15% !important;
        }

        #g-recaptcha {
            box-shadow: none;
            box-shadow: none;
            display: block;
            float: right;
            transform: scale(0.6);
            transform-origin:0 0;
            margin: 0;
            width: auto;
            margin: 10px 0px 60px 10px;
            overflow: visible;
        }

        #g-recaptcha div {
            box-shadow: none;
            margin: 0;
            overflow: visible;
        }

        .cover form a {
            height: 20px;
            width: 20px;
            position: static;
            float: right;
            margin: 5px 5px 0px 0px;
            color: black;
            text-align: center;
            text-decoration: none;
            line-height: 19px;
        }

            .cover form a:hover {
                background-color: rgba(0,0,0,0.7);
                border-radius: 25px;
                color: white;
            }

        .cover form footer {
            width: 100%;
            height: 10%;
            background-color: gray;
            position: relative;
            bottom: 0;
            clear: both;
            float: left;
            padding: 10px 0px 10px 0px;
        }

            .cover form footer a {
                width: 100%;
                float: left;
                text-align: center;
                line-height: auto;
            }

                .cover form footer a:hover {
                    background-color: transparent !important;
                }

    .userRegistrationForm div input {
        width: 100% !important;
    }

    .termsOffCondition {
        width: 85%;
        margin-left: 15%;
        float: left;
        padding: 10px 0px 10px 0px;
    }

.eyeIcon {
    position: absolute;
    right: 15%;
    cursor: pointer;
}

.errorMsg {
    color: red;
    position: absolute;
    right: 18%;
}

.registrationCompleted {
    width: 40%;
    height: 80%;
    background-color: white;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0px 2px 5px 0px black;
    overflow-y: auto;
}

.logoDesign img {
    width: 30%;
    left: 35%;
    margin-top: 5%;
}

.registrationCompleted .bottomText {
    width: 10%;
    position: absolute;
    bottom: 10px;
    left: 45%;
    font-size: 1.5em;
}

/*      Varför?

.inputDesignFirstname {
    position: absolute;
}

.inputDesignLastname {
    position: absolute;
}

.inputDesignEmail {
    position: absolute;
}

.inputDesignPassword {
    position: absolute;
}

.inputDesignConfirmPassword {
    position: absolute;
}

*/

.messageDesign {
    text-align: center;
    color: black;
    margin-top: 5%;
}

.divDesign {
    position: relative;
    top: 10vh;
}

.messageDesign2 {
    text-align: center;
    color: black;
    font-size: 1em;
    margin: 25% 0px 3% 0px;
}

.linkDesign {
    text-align: center;
    cursor: pointer;
}

.linkDesign:hover {
    text-decoration: underline;
}

.logoDesign{
    text-align: center;
}

/*  Account Page    JE  */

.infoSection {
    margin-top: 50px !important;
    min-height: calc(100vh - 50px) !important;
    height: auto !important;
}

.accountPage section div {
    height: 100%;
    width: 100%;
}

.accountPage header {
    height: 50px;
}

.accountPage header h1 {
    font-size: 1.5em !important;
    position: absolute;
    top: 10px;
    left: 15%;
    width: 50%;
    text-align: left;
    transition: none !important;
}

.accountPage .dropdown {
    height: 50px;
}

.accountPage .dropdown p {
    line-height: 25px;
}

.uploadsLink {
    border-bottom: 1px solid black !important;
}

.accountPage .dropdown div p {
    line-height: 45px;
}

.accountManegment section h3 {
    text-align: center;
    margin-block-start: 20px;
    font-size: 1.7em;
}

.accountManegment section {
    min-height: calc(50vh - 25px) !important;
    height: auto !important;
    float: left;
    margin: 0 !important;
}

.accountInfo {
    background-color: rgb(245, 245, 245) !important;
}

.accountInfo table {
    width: 65%;
    height: 150px;
    box-sizing: border-box;
    float: left;
    margin: 20px 0px 0px 5%;
    padding-left: 10px;
    font-size: 1.2em;
}

.accountInfo table tbody tr {
    width: 100%;
}

.accountInfo table tbody tr:nth-child(n + 3) {
    padding: 0;
    font-size: 0.6em;
}

.accountInfo table tbody tr th,td {
    width: 50%;
    text-align: left;
    padding: 0 !important;
}

.accountInfo table tbody tr td p {
    cursor: pointer;
    color: blue;
}

.accountInfo table tbody tr td p:hover {
    text-decoration: underline;
}

.imageContainer {
    float: right;
    width: 10% !important;
    margin: 20px 5% 0px 0px;
    height: auto !important;
}

.imageContainer img {
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .3);
}

.imageContainer p {
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: blue;
}

.imageContainer p:hover {
    text-decoration: underline;
}

.personalInfo table {
    width: 35%;
    height: 150px;
    box-sizing: border-box;
    float: left;
    margin: 20px 0px 0px 5%;
    background-color: transparent;
    padding-left: 10px;
    font-size: 1em;
    text-align: left;
}

.personalInfo input {
    background-color: transparent;
    border: none;
    padding: 5px 5px 5px 0px;
}

::placeholder {
    color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"]:disabled {
    color: black;
}

.activeInput {
    border: 1px solid black !important;
}

.personalInfo table tbody tr th,td {
    padding: 10px;
}

.personalInfo p {
    cursor: pointer;
    color: blue;
}

.personalInfo p:hover {
    text-decoration: underline;
}

.saveUser {
    display: none;
}

.uploads {
    display: none;
}

@media screen and (max-width: 992px) {

    body {
        background-image: url("./Image/backMobile.png");
    }

    .loginIMG {
        width: 5%;
        margin: 2% 3% 0px 0px;
        padding-bottom: 1.5%;
    }

    .manageAccount {
        width: 15% !important;
        float: right;
        text-align: right;
        margin: 1.7% 2% 0px 0px;
        cursor: pointer;
        border-right: 1px solid black;
        padding: 2% 2% 2% 0.5%;
    }
    
    .cover form {
        width: 100%;
        height: 100% !important;
        max-height: 100% !important;
        min-height: 100% !important;
    }

    .cover form footer {
    }

    .dropdown {
        width: 10%;
    }

    .dropdown p img {
        display: none;
    }

    .dropdown p {
        width: auto;
        height: auto;
        font-size: 0;
    }

    .dropdown-content p {
        font-size: 1em;
    }

    .closeSideMeny {
        position: absolute;
        top: 0;
        left: 15px;
        display: block !important;
    }

    .closeSideMeny:hover {
        background-color: transparent !important;
    }


    .expandSideMeny {
        width: 250px !important;
    }

    .menyIcon {
        width: 40px !important;
        display: block !important;
        transform: rotate(0deg) !important;
        animation: none !important;
        position: absolute;
        top: 2px;
    }

    .dropdown-content {     
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgba(105,103,100, 0.8);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        display: block;
        margin: 0;
    }

    .dropdown-content a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        font-size: 1em;
        display: block;
        transition: 0.3s;
      }
      
      .dropdown-content a:hover {
        color: #f1f1f1;
      }
      
      .dropdown-content .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }





}