
* {    
    margin: 0;
    padding: 0;
}

/*  Layout  JE  */

.header {
    width: 100%;
    height: 170px;
    background-color: #474646;
    text-align: center;
    position: fixed;
    z-index: 50;
    top: 0;
    transition: 0.5s;
}

section section {
    width: 100%;
    height: calc(100vh - 125px);
    background-color: white;
    margin-block-end: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

    section section:first-of-type {
        margin-top: 170px;
        height: calc(100vh - 170px);
        background-color: white;
    }
    
.Start h3 {
    position: absolute;
    z-index: 10;
  }
  

footer {
    width: 100%;
    height: 200px;
    background-color: #ccc;
}

/*  Header  JE  */

.headerController {
    width: 100%;
    height: 40px;
    border: none;
}

.header a {
    display: block;
    float: right;
    line-height: 20px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    box-sizing: border-box;
    padding: 5px;
}

    .header a:first-of-type {
        margin-right: 15%;
    }

    .header a:hover {
        text-decoration: underline;
    }

.header h1 {
    font-size: 2em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    position: relative;
    color: white;
    text-shadow: 1px 2px black;
    transition: 0.5s;
}

.h1Mover {
    font-size: 1.8em !important;
}

.headShrinker {
    height: 130px;
}

.NavigationBar {
    width: 70%;
    float: left;
    position: absolute;
    bottom: 20px;
    margin-left: 15%;
}

    .NavigationBar a {
        width: 25%;
        float: left;
        margin: 0px !important;
        cursor: pointer;
    }

    .NavigationBar > .active {
        box-shadow: 0 2px 2px -2px white;
    }

/*  Dropdown in Navbar  */

.dropdown {
    width: 15%;
    position: relative;
    display: block;
    float: right;
    margin-right: 15%;
    cursor: pointer;
    line-height: 20px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    box-sizing: border-box;
    padding: 5px;
    text-align: right;
}

.dropdown p img {
    width: 12px;
    transform: rotate(-90deg);
    margin-left: 10px;
    transition: 0.3s;
}

.dropdown:hover img {
    transform: rotate(0deg);
}
  
  .dropdown-content {
    height: 135px;
    display: none;
    position: absolute;
    width: 70%;
    right: 0;
    background-color: rgba(105,103,100, 0.8);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
    z-index: 40;
    margin-block-start: 5px;
  }

  .dropdown-content p {
      border-bottom: 1px solid black;
      height: 45px;
      line-height: 45px;
      margin: 0px;
      box-sizing: border-box;
      font-size: 0.9em;
      text-align: center;
  }

.dropdown-content p:hover {
    text-decoration: underline;
}

.dropdown-content p:last-of-type {
    border-bottom: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content p a {
    width: 100%;
    height: 45px;
    float: none;
    margin: 0;
    padding: 0;
    line-height: 45px;
}

/*  Scrollbar   JE  */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
}

/*  Start JE  */

.imgSlider {
    width: 400%;
    height:  calc(100vh - 170px);
    position: relative;
    animation-name: slider;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  
.imgSlide {
    width: 25%;
    height: 100%;
}

.slideContainer section {
    position: absolute;
    height: 10px !important;
    width: 30%;
    background-color: transparent !important;
    margin: 0 !important;
    z-index: 10;
    bottom: 20px;
    right: 35%;
}

.slideContainer section div {
    height: 10px;
    width: 20%;
    background-color: lightgrey;
    float: left;
    margin-right: 5%;
    cursor: pointer;
}

.slideContainer section div:hover {
    background-color: grey;
}
  
  @keyframes slider {
    0%   {
      right: 0%;
    }
    20%  {
      right: 0%;
    }
    25%  {
      right: 100%;
    }
    45%  {
      right: 100%;
    }
    50%  {
      right: 200%;
    }
    70% {
      right: 200%;
    }
    75% {
      right: 300%;
    }
    95% {
      right: 300%;
    }
    100% {
      right: 0%;
    }
  }
  

/*  Translation JE  */

/*  Upload JE  */

/*  About JE  */

/*  Log & Reg Form  JE  */

.cover {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    z-index: 100;
    top: 0;
}

    .cover form {
        height: auto !important;
        width: 40%;
        max-height: 80% !important;
        min-height: 50% !important;
        overflow-y: auto;
        background-color: rgba(255, 249, 249, 1);
        display: block;
        margin: auto;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        box-shadow: 0px 2px 5px 0px black;
    }

        .cover form h3 {
            width: 100%;
            float: left;
            font-size: 2.4em;
            text-align: center;
            margin-bottom: 30px;
        }

        .cover form div {
            width: 70%;
            height: 40px;
            margin-left: 15%;
            float: left;
            margin-bottom: 15px;
            box-shadow: 0 2px 2px -2px grey;
            overflow: hidden;
        }

            .cover form div:focus-within {
                box-shadow: 0 3px 2px -2px black;
            }

            .cover form div img {
                height: 30px;
                float: left;
                margin: 5px 0px 0px 10px;
            }

            .cover form div input {
                width: 85%;
                height: 40px;
                float: right;
                border: none;
                background-color: transparent;
            }

                .cover form div input:focus {
                    outline: none;
                }

        .cover form button {      
            width: 30%;
            height: 45px;
            background-color: transparent;
            border: none;
            box-shadow: 0 2px 2px -2px grey;
            text-align: center;
            display: block;
            float: left;
            margin: 10px 0px 0px 15%;
        }

        #g-recaptcha {
            box-shadow: none;
            box-shadow: none;
            display: block;
            float: right;
            transform: scale(0.6);
            transform-origin:0 0;
            margin: 0;
            width: auto;
            margin: 10px 0px 60px 10px;
            overflow: visible;
        }

        #g-recaptcha div {
            box-shadow: none;
            margin: 0;
            overflow: visible;
        }

        .cover form a {
            height: 20px;
            width: 20px;
            position: static;
            float: right;
            margin: 5px 5px 0px 0px;
            color: black;
            text-align: center;
            text-decoration: none;
            line-height: 19px;
        }

            .cover form a:hover {
                background-color: rgba(0,0,0,0.7);
                border-radius: 25px;
                color: white;
            }

        .cover form footer {
            width: 100%;
            height: 50px;
            background-color: gray;
            position: relative;
            bottom: 0;
            clear: both;
        }

            .cover form footer a {
                width: 100%;
                float: left;
                text-align: center;
                line-height: 40px;
            }

                .cover form footer a:hover {
                    background-color: transparent !important;
                }

    .userRegistrationForm div input {
        width: 100% !important;
    }

.eyeIcon {
    position: absolute;
    right: 15%;
    cursor: pointer;
}

.errorMsg {
    color: red;
    position: absolute;
    right: 18%;
}

.registrationCompleted {
    width: 40%;
    height: 80%;
    background-color: rgba(255, 249, 249, 1);
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0px 2px 5px 0px black;
    overflow-y: auto;
}

/*      Varför?

.inputDesignFirstname {
    position: absolute;
}

.inputDesignLastname {
    position: absolute;
}

.inputDesignEmail {
    position: absolute;
}

.inputDesignPassword {
    position: absolute;
}

.inputDesignConfirmPassword {
    position: absolute;
}

*/

.messageDesign {
    text-align: center;
    color: black;
    
}

.divDesign {
    position: relative;
    top: 10vh;
}

.messageDesign2 {
    text-align: center;
    color: black;
    font-size: 1em;
}

.linkDesign {
    text-align: center;  
    cursor: pointer;  
}

.logoDesign{
    text-align: center;
}

/*  Account Page    JE  */

.accountPage section {
    overflow: auto;
}

.accountPage section div {
    height: 100%;
    width: 100%;
}

.sideBar {
    height: 100%;
    width: 20%;
    background-color: white;
    float: left;
    border-right: 1px solid #333;
    box-shadow: 3px 0 5px -2px #888;
    box-sizing: border-box;
}

.sideBar h3 {
    cursor: pointer;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 1px 1px 0px black;
}

.accountManegment section h3 {
    text-align: center;
    margin-block-start: 20px;
    font-size: 1.7em;
}

.accountManegment section {
    width: 80% !important;
    height: 100% !important;
    background-color: transparent !important;
    float: left;
    margin: 0 !important;
}

.accountInfo table {
    width: 65%;
    height: 150px;
    box-sizing: border-box;
    float: left;
    margin: 20px 0px 0px 5%;
    background-color: rgba(0, 0, 0, .1);
    padding-left: 10px;
    font-size: 1.2em;
}

.accountInfo table tbody tr {
    width: 100%;
}

.accountInfo table tbody tr:nth-child(n + 3) {
    padding: 0;
    font-size: 0.6em;
}

.accountInfo table tbody tr th,td {
    width: 50%;
    text-align: left;
    padding: 0 !important;
}

.accountInfo table tbody tr td p {
    cursor: pointer;
    color: blue;
}

.accountInfo table tbody tr td p:hover {
    text-decoration: underline;
}

.imageContainer {
    float: right;
    width: 15% !important;
    margin: 20px 5% 0px 0px;
    height: auto !important;
}

.imageContainer img {
    width: 100%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .3);
}

.imageContainer p {
    width: 50%;
    float: left;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: blue;
}

.imageContainer p:hover {
    text-decoration: underline;
}

.personalInfo {
    display: none;
}

.personalInfo table {
    width: 35%;
    height: 150px;
    box-sizing: border-box;
    float: left;
    margin: 20px 0px 0px 5%;
    background-color: transparent;
    padding-left: 10px;
    font-size: 1em;
    text-align: left;
}

.personalInfo input {
    background-color: transparent;
    border: none;
}

::placeholder {
    color: black;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="text"]:disabled {
    color: black;
  }

.personalInfo table tbody tr th,td {
    padding: 10px;
}

.personalInfo p {
    cursor: pointer;
    color: blue;
}

.personalInfo p:hover {
    text-decoration: underline;
}

.uploads {
    display: none;
}